<div class="p-4 rounded-lg bg-gray-100 border border-gray-300">
  <div class="flex justify-between items-start mb-2">
    <h3 class="font-semibold">Title</h3>
    <span class="text-xs text-gray-500"><%= time_ago_in_words(notification.created_at) %> ago</span>
  </div>
  <p class="text-sm text-gray-600 mb-3"><%= notification.message %></p>
  <div class="flex justify-end gap-2">
    <% unless notification.read? %>
      <button class="px-2 py-1 text-xs bg-gray-900 text-white rounded hover:bg-gray-600 transition duration-300 flex items-center gap-1">
        <%= tabler_icon('check', size: '15' ) %>
        Marcar como leída
      </button>
    <% end %>
    <button class="px-2 py-1 text-xs bg-red-500 text-white rounded hover:bg-red-600 transition duration-300 flex items-center gap-1">
      <%= tabler_icon('trash', size: '15' ) %>
      Eliminar
    </button>
  </div>
</div>
