<div id="<%= dom_id product_stock %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Quantity:</strong>
    <%= product_stock.quantity %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Products:</strong>
    <%= product_stock.product.name %>
  </p>
</div>
