<div id="<%= dom_id product %>">
  <tr class="bg-white border-b hover:bg-gray-200">
    <td class="px-6 py-4 text-black">
      <%= product.name %>
    </td>
    <td class="px-6 py-4 text-black">
      <%= product.price %>
    </td>
    <td class="px-6 py-4 text-black">
      <%= link_to "View", product_path(product), class: "rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>
    </td>
  </tr>
</div>
