<% content_for :title, "Suppliers" %>

<div class="w-full h-full overflow-hidden p-3">
  <div class="flex justify-between items-center mb-3">
    <h1 class="font-bold text-4xl">Suppliers</h1>
    <%= link_to new_supplier_path, class: 'flex items-center text-white bg-[#7C5BF3] hover:bg-[#9576F5] rounded-lg p-3' do %>
      <%= tabler_icon('circle-plus', size: '20', class: "mr-2") %>
      Add supplier
    <% end %>
  </div>
  <div id="suppliers">
    <% if @suppliers.any? %>
      <% @suppliers.each do |supplier| %>
        <%= render supplier %>
      <% end %>
    <% else %>
      <p class="text-center my-10">No suppliers found.</p>
    <% end %>
  </div>
</div>
