<% content_for :title, "New supplier contact" %>

<div class="md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">New supplier contact</h1>
  <%= turbo_frame_tag @supplier_contact do %>
    <%= render "form", supplier_contact: @supplier_contact %>
  <% end %>
  <%= link_to "Back to supplier contacts", supplier_supplier_contacts_path(@supplier), class: "ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
</div>
